<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Deloitte</title>
</head>
<body>
    <nav>
        <a class="navItems" href="audit">Audit</a>
        <a class="navItems" href="innovation">Innovation</a>
        <a class="navItems" href="consulting">Consulting</a>
    </nav>